#brand{
		color:white;
		padding: 10px;
		padding-right: 30px
		/*line-height: 100%;*/
		height:auto;
		
	}

#search{
		background:#b8bcc1;
		padding:10px 0px;
		border-bottom:1px solid gray;
		/*height:10%;*/
		margin-top: 0px;
		/*line-height:100%;*/
		/*max-height: 20px;*/
	}

.fa-search{
	float:right;
}

.fa-share-alt{
	color:#103570;
	padding:10px;
}
#ball{
	font-weight: bold;
		/*font-size: 500px;*/
}

.jumbotron{
	background: #F0F0F0;
}

.nav-items{
	color:white;
	line-height: 100%
	height:100%;
	border-right:1px solid white;
	}

#secondpara{
	margin-top: 20px;
}

#risk{
	color:#818487;
}

.button{
	height:40px;
}

.navbar-nav{
	border-bottom: 1px solid #edf2f7;
	line-height: 10px;
		
}



.download{
	background-color:#2f73d8;
	color:white;
	padding:8px;
}

.cross{
	float:left;
}



.dropbtn {
  background-color: #15428c;
  color: white;
  padding : 20px;
  font-size: 16px;
  padding-top:10px;
  padding-bottom:10px;
  
}

.cropbtn{
	background-color: #c9d1dd;
  	color: #062047;
  	padding : 20px;
  	font-size: 16px;
  	padding-top:10px;
  	padding-bottom:10px;
  	
}


.dropdown {
  position: relative;
  display: inline-block;
  border-top: 1px solid #062047;

}

#second{
	min-width: 565%;
	margin-left:-190px;
}

#third{
	min-width: 550%;
	margin-left:-350px;
}

#fourth{
	min-width: 530%;
	margin-left: -515px
}

#fifth{
	min-width: 415%;
	margin-left: -685px;
}

hr{
	max-width: 90%;
	color:black;
}

}

img{
	box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.3);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 470%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /*padding-left: 200%;*/
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: normal;
}



.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/*.dropdown:hover .dropdown-content {text-decoration: underline;}*/

.dropdown:hover .dropbtn {background-color:#e0e2e5;}

.dropdown:hover .dropbtn {color:#071b38;}

.dropdown:hover .dropbtn {text-decoration:underline;}

.dropdown:hover .cropbtn {background-color:#e0e2e5;}

.kite:hover{text-decoration:underline;}

.full {
 
    width: 100%; 
 
}
 
 
 
.footer {
 
                height: auto;
 
                padding-bottom: 30px;
 
                position: relative;
 
                width: 100%;
 
    			color:white;
 
                border-top: 1px solid #DDDDDD;
 
    			background: #202020;
 
}
 

